$body-background: #01516a;
$body-font-color: #fff;
$body-font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$header-styles: (
    'small': (
        'h1': ('font-size': 24),
    ),
    'medium': (
        'h1': ('font-size': 35),
    ),
    'large': (
        'h1': ('font-size': 30)
    )
);
$grid-container: 1290px;
$table-background: transparent;
$table-border: none;
$breakpoints: (
  small: 0px,
  medium: 768px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);