body.balance {
    header {
        margin-bottom: 20px;

        .neon-logo {
            margin: 17px 0 0;
            text-align: left;

            @media screen and (min-width: 768px) {
                text-align: center;
            }
        }

        .neon-title {
            font-weight: bold;
            margin: 15px 0 0;
            text-align: left;
            color: #fff;

            @media screen and (min-width: 768px) {
                margin: 10px 0 0;
                padding-left: 10%;
                text-align: center;
            }

            span {
                font-size: 2.1875rem;
            }
        }
    }

    main {
        position: relative;

        .neon-slider {
            overflow: hidden;
            position: relative;

            .neon-slider-items {
                -webkit-transition: all .5s ease-in-out;
                transition: all .5s ease-in-out;
                max-height: 440px;
                overflow: hidden;

                > li {
                    float: left;
                    text-align: center;
                    padding: 0 40px;
                    -webkit-transition: all .2s ease-in-out;
                    transition: all .2s ease-in-out;

                    @media screen and (max-width: 768px) {
                        padding: 0 5px;
                    }

                    .neon-slider-title {
                        position: relative;
                        font-weight: bold;
                        padding-bottom: 5px;
                        margin-bottom: 5px;
                        -webkit-transition: all .2s ease-in-out;
                        transition: all .2s ease-in-out;
                        opacity: 0;
                        color: #fff;

                        &:after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            width: 80%;
                            left: 10%;
                            height: 1px;
                            background: -moz-radial-gradient(center, ellipse cover, rgba(80, 251, 169, 1) 0%, rgba(100, 251, 179, 1) 9%, rgba(238, 255, 246, 0) 72%, rgba(255, 255, 255, 0) 80%);
                            background: -webkit-radial-gradient(center, ellipse cover, rgba(80, 251, 169, 1) 0%, rgba(100, 251, 179, 1) 9%, rgba(238, 255, 246, 0) 72%, rgba(255, 255, 255, 0) 80%);
                            background: radial-gradient(ellipse at center, rgba(80, 251, 169, 1) 0%, rgba(100, 251, 179, 1) 9%, rgba(238, 255, 246, 0) 72%, rgba(255, 255, 255, 0) 80%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50fba9', endColorstr='#00ffffff',GradientType=1 );

                            @media screen and (max-width: 768px) {
                                width: 60%;
                                left: 20%;
                            }
                        }
                    }

                    .neon-slider-sub-title {
                        position: relative;
                        font-weight: bold;
                        margin-bottom: 5px;
                        transition: all .2s ease-in-out;
                        opacity: 0;
                        color: #fff;
                    }

                    .neon-slider-history {
                        position: relative;
                        overflow: hidden;
                        border-radius: 10px;
                        -webkit-transition: all .2s ease-in-out;
                        transition: all .2s ease-in-out;
                        background: #34a7de;
                        min-height: 359px;

                        .neon-slider-history-inactive {
                            &:before {
                                content: "";
                                background: #1a6081;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                z-index: 1;
                                -webkit-transition: all .1s ease-in-out;
                                transition: all .1s ease-in-out;
                                cursor: pointer;
                            }

                            &:after {
                                content: "";
                                background: url(../src/images/icon-calendar.png);
                                width: 204px;
                                height: 200px;
                                display: block !important;
                                position: absolute;
                                z-index: 2;
                                top: 50%;
                                left: 50%;
                                margin-left: -47px;
                                margin-top: -100px;
                                opacity: 0.3;
                                -webkit-transition: all .5s ease-in-out;
                                transition: all .5s ease-in-out;
                                cursor: pointer;
                            }
                        }

                        > ul {
                            min-height: 359px;
                            max-height: 380px;
                            overflow-y: auto;
                            overflow-x: hidden;
                        }

                        .neon-slider-history-title,
                        .neon-slider-history-category,
                        .neon-slider-history-price {
                            text-align: left;
                            margin: 0;
                            line-height: 1.4;
                            color: #fff;
                        }

                        .neon-slider-history-title {
                            font-size: 14px;
                        }

                        .neon-slider-history-category {
                            font-weight: bold;
                            margin-bottom: 5px;
                        }

                        .neon-slider-history-price {
                            font-weight: bold;

                            &.positive {
                                color: #a4fb51;

                                span {
                                    &:before {
                                        content: " +";
                                        position: relative;
                                        top: -2px;
                                    }
                                }
                            }

                            &.negative {
                                span {
                                    &:before {
                                        content: " -";
                                    }
                                }
                            }
                        }

                        li {
                            -webkit-transition: all .2s ease-in-out;
                            transition: all .2s ease-in-out;

                            table {
                                margin: 0;

                                tr {
                                    -webkit-transition: all .2s ease-in-out;
                                    transition: all .2s ease-in-out;
                                    border-bottom: solid 1px #39b4e4;
                                    cursor: pointer;
                                    background: #34a7de;

                                    .neon-slider-history-table-image {
                                        width: 70px;
                                    }

                                    .neon-slider-history-table-remove {
                                        width: 50px;

                                        a {
                                            display: block;
                                        }
                                    }
                                }
                            }

                            &:last-child {
                                table {
                                    tr {
                                        border-bottom: none;
                                    }
                                }
                            }

                            &:hover {
                                table {
                                    tr {
                                        background: #1c9fde;
                                    }
                                }
                            }

                            &.removed {
                                -webkit-animation-name: fadeOutRight;
                                animation-name: fadeOutRight;
                                -webkit-animation-duration: 1s;
                                animation-duration: 1s;
                                -webkit-animation-fill-mode: both;
                                animation-fill-mode: both;
                            }
                        }
                    }

                    &.active {
                        .neon-slider-history {
                            .neon-slider-history-inactive {
                                &:before,
                                &:after {
                                    display: none !important;
                                }
                            }

                            &.empty {
                                background: #34a7de !important;

                                .neon-slider-history-inactive {
                                    &:before {
                                        content: "Vazio!";
                                        background: #34a7de !important;
                                        font-size: 18px;
                                        text-transform: uppercase;
                                        font-weight: bold;
                                        z-index: 1;
                                        display: block !important;
                                        padding: 30% 0;
                                    }
                                }
                            }
                        }

                        .neon-slider-title,
                        .neon-slider-sub-title {
                            opacity: 1;
                        }

                        + li {
                            .neon-slider-history-inactive {
                                &:after {
                                    margin-left: -154px;
                                }
                            }
                        }
                    }

                    &:hover {
                        .neon-slider-history-inactive {
                            &:after {
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }

            .neon-slider-dots {
                -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
                text-align: center;
                margin-bottom: 50px;

                > li {
                    display: inline-block;
                    margin-right: 10px;

                    button {
                        width: 20px;
                        height: 20px;
                        border-radius: 5px;
                        border: solid 1px #017089;
                        cursor: pointer;
                        outline: none;
                        -webkit-transition: all .2s ease-in-out;
                        transition: all .2s ease-in-out;

                        &:hover {
                            border-color: #03efff;
                        }
                    }

                    &.active {
                        button {
                            border-color: #03efff;
                        }
                    }
                }
            }
        }
    }
}
